@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Web Application 2 running on App Service</h1>
    <p>Page loaded at @DateTime.Now.ToString()</p>

</div>
